# DATABASE
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NO_SSL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# UPLOADTHING
UPLOADTHING_SECRET=
NEXT_PUBLIC_UPLOADTHING_APP_ID=

# CRON JOB
CRON_SECRET = 

# STREAM
NEXT_PUBLIC_STREAM_KEY =
STREAM_SECRET =

# GOOGLE OAUTH
GOOGLE_CLIENT_ID =
GOOGLE_CLIENT_SECRET =

# BASE URL
NEXT_PUBLIC_BASE_URL = "http://localhost:3000"